<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Bear Facts</title>
  </head>

  <body>
  	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Bear Facts!</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">This Doesn't Exist</a></li>
	      <li><a href="#">Neither Does This</a></li>
	      <li><a href="#">Don't Click This</a></li>
	    </ul>
	  </div>
	</nav>
 
	<div class="media col-md-6">
	  <div class="media-left">
	    <img src="bear1.jpg" class="media-object" style="width:600px">
	    <img src="bear2.jpg" class="media-object" style="width:600px">
	  </div>
	</div>

	<div class="panel" "col-md-3">
		<h1>Wow! Here are some ten facts:</h1>
			<p>1. Bears come in many shapes, sizes, and colors</p>
			<p>2. The Celts and the Vikings have legends surrounding the strength, protectiveness, and prowess of bears</p>
			<p>3. The Chicago Bears are a professional American football team based in Chicago, Illinois</p>
			<p>4. Baloo, from the Jungle Book movie is a Sloth bear</p>
			<p>5. Even though bears and pigs are NOT related, the same names, “boar” for the males and “sow” for the females are used</p>
			<p>6. Grizzly bears use growls, roars and snorts to communicate with each other</p>
			<p>7. Unlike many mammals, bears can see in color</p>
			<p>8. A polar bear can swim up to 100 miles without resting</p>
			<p>9. About 98% of the grizzly bear population in the U.S. lives in Alaska</p>
			<p>10. Bears are cool</p>
	</div>

	<div class="container col-md-3">
		<p>bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears
			bearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbearsbears	
		</p>
	</div>
  </body>
</html>
